# Day 1

Read file and split into list

In [1]:
input = open('elvesinput.txt')
input = input.read().split('\n\n')
list_input = []
for i,v in enumerate(input):
    list_input.append(v.split("\n"))

Read list into pandas dataframe and set NaNs to 0 to allow summing of rows

In [2]:
import pandas as pd
df = pd.DataFrame(list_input)
df = df.fillna(0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       254 non-null    object
 1   1       254 non-null    object
 2   2       254 non-null    object
 3   3       254 non-null    object
 4   4       254 non-null    object
 5   5       254 non-null    object
 6   6       254 non-null    object
 7   7       254 non-null    object
 8   8       254 non-null    object
 9   9       254 non-null    object
 10  10      254 non-null    object
 11  11      254 non-null    object
 12  12      254 non-null    object
 13  13      254 non-null    object
 14  14      254 non-null    object
dtypes: object(15)
memory usage: 29.9+ KB

Reassign dataframe as integers and sum the rows

In [4]:
df=df.astype('int64')
df['sum_rows'] = df.sum(axis=1)

## Answer 1:

Find the maximum value of the summed rows

In [5]:
df.sum_rows.max()

65912

## Answer 2:

Sort the summed rows (descending), slice the top three, and sum them.

In [6]:
df.sum_rows.sort_values(ascending=False)[:3].sum()

195625