# Day 1

Read file and split into list

In [21]:
input = open('elvesinput.txt')
input = input.read().split('\n\n')
elf_arrays = list(map(lambda x: x.split("\n"), input))
totals = [sum(map(int, v)) for v in elf_arrays]
max(totals)

69836

Read list into pandas dataframe and set NaNs to 0 to allow summing of rows

In [2]:
import pandas as pd
df = pd.DataFrame(list_input)
df.fillna(0,inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,9057,8878,2753,7027,3880,7154,8022,6710,5721,0,0,0,0,0,0
1,4863,3690,3333,1831,5293,6258,1212,4255,2331,3785,1505,3355,3353,4416,0
2,5918,3076,2145,2712,6087,4310,1084,5807,1342,2770,5095,4696,5842,4555,5388
3,20770,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,3968,15647,3933,15427,16179,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2656,3600,5148,2300,5547,8226,6952,2611,2268,6490,0,0,0,0,0
243,5499,8937,12091,1429,9253,2187,2660,0,0,0,0,0,0,0,0
244,12898,0,0,0,0,0,0,0,0,0,0,0,0,0,0
245,3536,3120,6811,2427,2710,2100,2030,7003,3932,3514,6390,6017,0,0,0
246,7645,3909,2219,2290,1401,1812,3180,7733,2547,2653,0,0,0,0,0

Reassign dataframe as integers and sum the rows

In [3]:
df=df.astype('int64')
df['sum_rows'] = df.sum(axis=1)

## Answer 1:

Find the maximum value of the summed rows

In [4]:
df.sum_rows.max()

69836

## Answer 2:

Sort the summed rows (descending), slice the top three, and sum them.

In [5]:
df.sum_rows.sort_values(ascending=False)[:3].sum()

207968